* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
    background-image: url("C:\Users\hp lap-top\Downloads\pexels-r-fera-432059 (1).jpg");
    background-repeat: repeat-y;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}
.fakeimg {
  background-color:rgb(75, 75, 75);
  background-image: "C:\Users\hp lap-top\Downloads\pexels-faik-akmd-1025469.jpg";
  width: 100%;
  height: 80%;
  padding: 20px;
}
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  background-image: url("C:\Users\hp lap-top\Downloads\pexels-faik-akmd-1025469.jpg");
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

#pass{
        background-image: url("C:\Users\hp lap-top\Downloads\pexels-r-fera-432059 (1).jpg");
}
#mask{
    background-image: url("C:\Users\hp lap-top\Downloads\pexels-faik-akmd-1025469.jpg");
}
#p1{
    height: 500px;
    width: 100%;
}